<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-md-3">
            <h2>Pacientes</h2>
        </div>

        <div class="col-md-3 col-md-offset-6">
            <p>
                <a class="btn btn-primary pull-right h2" [routerLink]="['/register-patient']">Novo Paciente</a>
            </p>
        </div>
    </div> <!-- /#top -->

    <hr />
    <div id="list" class="row">
        <div class="table-responsive col-md-12">

            <p *ngIf="!patientsList"><em>Loading...</em></p>

            <table class='table table-striped' *ngIf="patientsList" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patientsList">
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.name }}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" [routerLink]="['/patient/edit/', patient.id]">Editar</a>
                            <a class="btn btn-danger btn-xs" [routerLink]="" (click)="delete(patient.id)">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12">
            <ul class="pagination">
                <li *ngIf="paging.pageNumber > 1"><a (click)="getPatients(paging.pageNumber - 1, paging.pageSize)">&lt; Anterior</a></li>
                <!--<li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>-->
                <li class="next" *ngIf="paging.pageNumber < paging.totalPages"><a (click)="getPatients(paging.pageNumber + 1, paging.pageSize)" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->
        </div>
    </div> <!-- /#bottom -->
</div>  <!-- /#main -->