<div id="main" class="container-fluid">
    <h3 class="page-header">Agendamento</h3>

    <form [formGroup]="scheduleForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class="control-label col-md-12">Médico</label>
            <div class="col-md-4">
                <input class="form-control" type="hidden" formControlName="doctorId">
                <input class="form-control" type="text" formControlName="doctorName" (keyup)="searchDoctor(doctorName)" />
                <div class="search-result" *ngIf="flagDoctor">
                    <ul class="list-group">
                        <li *ngFor="let doctor of doctors | async" class="list-group-item">
                            <a (click)="onselectDoctor(doctor)">{{doctor.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="text-danger" *ngIf="doctorId.invalid && formDir.submitted">
                O médico é requerido!
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Paciente</label>
            <div class="col-md-4">
                <input class="form-control" type="hidden" formControlName="patientId">
                <input class="form-control" type="text" formControlName="patientName" (keyup)="searchPatient(patientName)" />
                <div class="search-result" *ngIf="flagPatient">
                    <ul class="list-group">
                        <li *ngFor="let patient of patients | async" class="list-group-item">
                            <a (click)="onselectPatient(patient)">{{patient.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="text-danger" *ngIf="patientId.invalid && formDir.submitted">
                O paciente é requerido!
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Data</label>
            <div class="col-md-4">
                <input class="form-control" type="date" formControlName="date">
            </div>
            <span class="text-danger" *ngIf="date.invalid && formDir.submitted">
                A data é requerida!
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Hora</label>
            <div class="col-md-4">
                <select formControlName="time" class="form-control">
                    <option *ngFor="let t of timeList" [value]="t">{{t}}</option>
                </select>
            </div>
            <span class="text-danger" *ngIf="time.invalid && formDir.submitted">
                Selecione o horário!
            </span>
        </div>
        <div class="form-group row" *ngIf="errorMessage">
            <div class="col-md-12">
                <span class="alert alert-warning">{{errorMessage}}</span>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button class="btn btn-default" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>