<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-md-3">
            <h2>Médicos</h2>
        </div>

        <div class="col-md-3 col-md-offset-6">
            <p>
                <a class="btn btn-primary pull-right h2" [routerLink]="['/register-doctor']">Novo Médico</a>
            </p>
        </div>
    </div> <!-- /#top -->

    <hr />
    <div id="list" class="row">
        <div class="table-responsive col-md-12">

            <p *ngIf="!doctorsList"><em>Loading...</em></p>

            <table class='table table-striped' *ngIf="doctorsList" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctorsList">
                        <td>{{ doctor.id }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" [routerLink]="['/doctor/edit/', doctor.id]">Editar</a>
                            <a class="btn btn-danger btn-xs" [routerLink]="" (click)="delete(doctor.id)">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /#list -->
    <div class="form-group row" *ngIf="errorMessage">
        <div class="col-md-12">
            <span class="alert alert-warning">{{errorMessage}}</span>
        </div>
    </div>
    <div id="bottom" class="row">
        <div class="col-md-12">
            <ul class="pagination">
                <li *ngIf="paging.pageNumber > 1"><a (click)="getDoctors(paging.pageNumber - 1, paging.pageSize)">&lt; Anterior</a></li>
                <li class="next" *ngIf="paging.pageNumber < paging.totalPages"><a (click)="getDoctors(paging.pageNumber + 1, paging.pageSize)" rel="next">Próximo &gt;</a></li>
            </ul>
        </div>
    </div>
</div>  <!-- /#main -->