<div id="main" class="container-fluid">
    <h3 class="page-header">Paciente</h3>

    <form [formGroup]="patientForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group row">
            <label class="control-label col-md-12">Nome Completo</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="name">
            </div>
            <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
                O nome é requerido!
            </span>
        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button class="btn btn-default" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>