
<div class="jumbotron text-center">
    <h1>Informações do Sistema</h1>
</div>

<div class="col-md-10 col-md-offset-2 text-center">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Agendamentos</div>
            <div class="panel-body">
                <span class="monitor">20</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Pacientes</div>
            <div class="panel-body">
                <span class="monitor">10</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Médicos</div>
            <div class="panel-body">
                <span class="monitor">5</span>
            </div>
        </div>
    </div>
</div>